{% extends "base.html" %}

{% block head_extra %}
<script type="text/javascript">
  function success(data){
    console.log(data);
  }
  
  function isbn_schnellsuche(){
      var isbn = $("input[name=isbn]").val();
      $.ajax({
	  type: "GET",
	  url: "http://openlibrary.org/api/books",
	  data: {
	      'bibkeys': "ISBN:"+isbn,
	      'format': "jsonp",
              'callback': "success"
	  },
	  dataType: "jsonp",
	  success: function(data){
	      console.log("muh",data);
	  },
	  error: function(jqXHR, textStatus, errorThrown){
	      console.error(jqXHR, textStatus, errorThrown);
	  }
      });
  }

  $(document).ready(function(){
    $("select").addClass("fancy");
    $(".errorlist li").addClass("notice error");
  });
</script>
{% endblock %}

{% block content %}

<div class="col_10">
  <ul class="breadcrumbs alt1">
    <li><a href="/">Übersicht</a></li>
    {% if buch %}
      <li><a href="/{{buch.id}}/">{{buch.titel}}</a></li>
      <li><a href="">bearbeiten</a></li>
    {% else %}
      <li><a href="">neues Buch</a></li>
    {% endif %}
  </ul>
  
  <!-- <input id="text2" type="text" placeholder="ISBN-Nummer" class="col_3"/> -->
  <!-- <button class="medium" name="Schnellsuche" onclick="isbn_schnellsuche()">Schnellsuche</button> -->

  <!-- <hr class="alt2" /> -->

  <form method="post" action="">
    {% csrf_token %}
    <table>
      {{form}}
    </table>
    <button type="submit" class="medium" name="Erstellen" value=""><span class="icon medium" data-icon="C"></span>Abschicken</button>
  </form>

</div>

{% endblock %}
