{% extends "base.html" %}

{% block jquery %}{% endblock %}
{% block head_extra %}

<link href="/api/v1/buch/?format=jsonp&username=admin&api_key=00405cc4d92866272602ef2f476f97b6e4f266f9" type="application/jsonp" rel="exhibit/data" ex:converter="converter"/>
<script src="http://api.simile-widgets.org/exhibit/2.2.0/exhibit-api.js" type="text/javascript"></script>
<script src="http://static.simile.mit.edu/exhibit/extensions-2.0/time/time-extension.js"></script>
<script type="text/javascript">
// Exhibit modifiziert den Seitentitel standardmäßig unschön, durch
// Überschreiben der Funktion wird dies verhindert.
SimileAjax.History.formatHistoryEntryTitle = function(actionLabel) {
    return SimileAjax.History._plainDocumentTitle;
}
  
/**
 * Diese Funktion wandelt das von der REST-Schnittstelle
 * erhaltene JSON in das für Exhibit benötigte spezifische
 * JSON-Format um.
 **/
function converter(json){
    json.items = json.objects;
    delete json.objects;
    for (item in json.items){
        item = json.items[item];
	item.label = item.titel;
	delete item.titel;
        item.myid = item.id;
        if (sam = item.sammlung)
            item.sammlung = sam.bezeichnung;
        if (verlag = item.verlag)
            item.verlag = verlag.bezeichnung;
        if (autoren = item.autor){
            for (autor in autoren){
		autoren[autor] = autoren[autor].vorname+" " + autoren[autor].nachname;
            }
        }
	if (genres = item.genre){
            for (genre in genres){
		genres[genre] = genres[genre].bezeichnung;
            }
        }
	if (tags = item.tag){
            for (tag in tags){
		tags[tag] = tags[tag].bezeichnung;
            }
        }
    }
    json.properties = {
	'label': {
	    label: "Titel"
	},
	'autor': {
	    label: "Autor"
	},
	'veroeffentlichung': {
	    label: "Veröffentlichung",
	    valueType: "date"
	},
        'genre': {
            label: "Genre"
        },
	'verlag': {
	    label: "Verlag"
	},
	'isbn': {
	    label: "ISBN",
	},
	'bemerkung': {
	    label: "Bemerkung"
	},
	'preis': {
	    label: "Preis",
            valueType: "number"
	},
	'lesezeichen': {
	    label: "Lesezeichen"
	},
	'bewertung': {
	    valueType: "number",
	    label: "Bewertung"
	}
    };
    return json;
}
</script>

{% endblock %}
    
{% block content %}

<div class="col_9">
  <a class="button orange" href="/add/">
    <span class="icon medium" data-icon="+"></span>neues Buch
  </a>

  <div ex:role="viewPanel">
    <!-- Vorschaubilder -->
    <div ex:role="view" ex:viewClass="Thumbnail" ex:showHeader="false" ex:paginate="true" style="padding: 1em 0.5in;">
      <div ex:role="lens" style="padding:10px;text-align:center">
      	<a ex:href-content="concat('/', .myid)">
      	  <img ex:src-content=".cover" class="cover" /><br/>
      	  <span ex:content=".label"></span>
      	</a>
      </div>
    </div>

    <!-- Tabellenansicht -->
    <div ex:role="view" ex:viewClass="Tabular"
	 ex:columns=".label, .autor, .genre, .bewertung" >
      <table>
        <tr>
          <td><a ex:href-content="concat('/', .myid)"><span ex:content=".label"></span></a></td>
          <td><span ex:content=".autor"></span></td>
	  <td><span ex:content=".genre"></span></td>
	  <td><span ex:content=".bewertung"></span></td>
        </tr>
      </table>
    </div>

    <!-- Timeline-Ansicht -->
    <div ex:role="view" 
	 ex:viewClass="Timeline"
	 ex:showHeader="false"
	 ex:showSummary="false"
	 ex:start=".veroeffentlichung"
	 ex:end=".veroeffentlichung">
    </div>
  </div>
</div>

<div class="col_3">
  <!-- Such- und Filterabschnitt -->
   <div ex:role="facet" 
	ex:facetClass="TextSearch"
	ex:facetLabel="Suche">
   </div><br/>

   <div ex:role="facet" 
	ex:facetClass="Cloud"
	ex:expression=".autor"
	ex:facetLabel="Autoren" >
   </div><br/>

   <div ex:role="facet" 
	ex:facetClass="Cloud"
	ex:expression=".genre"
	ex:facetLabel="Genre" >
   </div><br/>
   
   <div ex:role="facet" 
	ex:expression=".sammlung"
	ex:facetLabel="Sammlungen" >
   </div><br/>

   <div ex:role="facet" 
	ex:expression=".verlag"
	ex:facetLabel="Verlage" >
   </div><br/>

   <div ex:role="facet" 
	ex:facetClass="Cloud"
	ex:expression=".tag"
	ex:facetLabel="Tags" >
   </div><br/>

</div>
{% endblock %}
