{% extends "base.html" %}

{% block content %}

<div class="col_2">
<!-- Menu Vertical Left -->
<ul class="menu vertical">
<li class="current"><a href="/">&Uuml;bersicht</a></li>
<li><a href="">Wunschliste</a></li>
<li><a href="/stats/">Statistiken</a></li>
<li><a href="/export/">Export</a></li>
</ul>
</div>
<div class="col_6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
<div class="col_4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
{% endblock %}
